<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Document</title>
</head>

<body>
    <h1>Attention! user: {{name}}</h1>
    <h2>Notification for a set Alert</h2>
    <p>We have detected unexpected behavior in your system. A parameter is out of the set bounds. You are advised to look into it immediately.</p>
    <p>{{message}}</p>
    <p>Date of Alert: 4 May 2021</p>
    <p>Date Received: 4 May 2021</p>    
    <footer class="py-5 bg-black" style="background-color:DarkViolet; color: white; height:40px;">
    <div class="container">
        <div style="height:45px;">
            <p class="text-center text-white m-0 small" style = "font-size: 20px; text-align: center; vertical-align: middle;">Nginx  Tool 2021</p>
        </div>
    </div>
</footer>
</body>
</html>
