Package: collector-dbgsym
Package-Type: ddeb
Source: collector
Version: 0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: IIT Ropar <iit@example.com>
Installed-Size: 92
Depends: collector (= 0.1-1)
Section: debug
Priority: optional
Description: debug symbols for collector
Build-Ids: 01f54ee62a815130cee717af1bef50330b1779c9 7d5053a326cc3a710e61fdd8dfc017217c579204
