certifi==2020.12.5
chardet==4.0.0
daemon==1.2
docutils==0.17.1
file-read-backwards==2.0.0
idna==2.10
lockfile==0.12.2
persist-queue==0.6.0
persistQueue==0.1.6
psutil==5.8.0
python-daemon==2.3.0
python-dotenv==0.17.1
requests==2.25.1
urllib3==1.26.4